/* .scroll-stack-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 200px;
}

.scroll-stack-item {
  margin-top: -140px;
  position: relative;
}

.scroll-stack-item:first-child {
  margin-top: 0;
}

.scroll-card {
  position: sticky;
  top: 20vh;

  margin-top: -160px;
  z-index: var(--z);

  transform: scale(var(--scale, 1));
  transform-origin: top center;

  transition: transform 0.08s linear;
} */

.stack-wrapper {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.stack-section {
  height: 350px;
  position: sticky;
  top: 0px;
}

.stack-card {
  position: sticky;
  top: 1000px;
  height: 300px;
  transform-origin: top center;
  transition:
    transform 0.1s linear,
    filter 0.1s linear;
  will-change: transform;
}
