/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  /* soft white base */
  background-color: #fffafb;

  /* pink dots */
  background-image: radial-gradient(#ff9ac6 1.2px, transparent 1.2px);
  background-size: 22px 22px;
}
