/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fb;
  background-image: radial-gradient(#cfd8dc 1px, transparent 1px);
  background-size: 22px 22px;
}
